@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:992px){
    body{
        background-image: linear-gradient(#373F51,#5e6870 );
    }
    section{
        width: 85%;
       

    }
    div#imag{
        float: left;
        width: 30%;
        height: 100%;
        background-position: center center;

    }
    div#formulario{
        float: right;
        width: 70%;
        height: auto;
        background-color: white;
 
    }
    
   
  

    
   

    

}

@media screen and (min-width: 992px) {
    section{

        float:left;
        width: 80vw;
        margin: auto;
        text-align: center;
        
    }
    #formulario{
       
       
       
        text-align: center;
        margin-left: 20px;
        font-size:1.2em;
        margin-bottom: 25px;

        
        
       
      
 
    }
    div#imag{
        float: right;
        width: 50%;
        height: 100%;
        

    }
    .braw{
       
        float: left;
        margin: auto;
    }
   

      
       
   
   
       
        
        
    
    
    
    
